
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #0D0714;
    min-height: 100vh;
    padding: 5rem 1rem;
}

.app {
    max-width: 580px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #1D1825;
    border-radius: 1.25rem;
    padding: 3.125rem 4.063rem;

}

.todo  h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.input-group {
    width: 100%;
    display: flex;
    gap: 0.938rem;
}

.input-group input {
    max-width: 380px;
    width: 100%;
    outline: none;
    background-color: #1D1825;
    border: 1px solid #9E78CF;
    border-radius: 0.625rem;
    padding: 0.625rem 0.938rem;
    font-size: 1rem;
    color: #777777;
    font-weight: 400;
    cursor: pointer;
}

.input-group input:focus {
  box-shadow: 0 0 5px #9E78CF;
}

.input-group #add-btn {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
}

.app ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-inline-start: 0px;
    margin-top: 3rem;
}

.task-item {
    display: flex;
    width: 100%;
    background-color: #15101C;
    justify-content: space-between;
    padding: 1.375rem 1.25rem;
    border-radius: 0.625rem;
    color: #9E78CF;
    font-size: 1rem;
}

.icon {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}

.done-btn:hover {
    scale: calc(1.1);
    cursor: pointer;
}

.delete-btn:hover {
    scale: calc(1.1);
    cursor: pointer;
}

#task-counter {
    width: 100%;
    font-size: 1rem;
    text-align: start;

}
